version: '3.8'

services:
  backend:
    build: ./backend
    image: hacksmith/oum-backend:latest
    ports:
      - "3001:3001"
    restart: always

  frontend:
    build: ./frontend
    image: hacksmith/oum-frontend:latest
    ports:
      - "8080:80"
    restart: always
    depends_on:
      - backend
